WP_URL=https://www.montagneepaesi.com
WP_USERNAME=INSERISCI_UTENTE_WORDPRESS
WP_APP_PASSWORD=INSERISCI_PASSWORD_APPLICAZIONE_WORDPRESS
WP_POST_STATUS=draft
WP_CATEGORY_ID=1869
WP_AUTHOR_ID=
PUBLISH_TIME=09:30
AUTOMATION_ENABLED=false
TOP_COUNT=5
MAX_PRICE_AGE_DAYS=8
TZ=Europe/Rome
SECRET_KEY=INSERISCI_UNA_STRINGA_LUNGA_CASUALE
